<div class="container-fluid">
  <div class="container col-sm-4 form-signin mr-auto sign-in-form align-middle">
    <form [formGroup]="form">

      <input type="text" placeholder="Username" required class="row form-control" formControlName="username">
      <div class="sign-in-tip" *ngIf="(username.invalid && username.touched) || showInputErrors">
        <div *ngIf="username.hasError('required')">
          <p>Please enter your username</p>
        </div>
        <div *ngIf="username.hasError('minlength')">
          <p>Minimum length is 4</p>
        </div>
      </div>

      <input type="password" placeholder="Password" class="row form-control" formControlName="password">
      <div class="sign-in-tip" *ngIf="(password.invalid && password.touched) || showInputErrors">
        <div *ngIf="password.hasError('required')">
          <p>Please enter your password</p>
        </div>
      </div>

      <div class="" *ngIf="hasFailed">
        Invalid username and password.
      </div>

      <button class="row btn btn-primary btn-block form-control" [disabled]="isBusy" (click)="doSignIn()">
        <ng-template [ngIf]="!isBusy">Sign in</ng-template>
        <ng-template [ngIf]="isBusy">Signing in, please wait...</ng-template>
      </button>

      <p class="sign-in-tip">You can sign in with username "demo" and password "demo".</p>
    </form>
  </div>
</div>